In [21]:
# Ariadne Selena Romero Rivero #1957540
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix
import seaborn as sns
import matplotlib.pyplot as plt

In [32]:
data = pd.read_csv("../videogamesales/videogamesales_clean.csv")
data

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16322,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16323,16597,Men in Black II: Alien Escape,GC,2003,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16324,16598,SCORE International Baja 1000: The Official Game,PS2,2008,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16325,16599,Know How 2,DS,2010,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16326,16600,Spirits & Spells,GBA,2003,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [23]:
# Ventas en 1 aÃ±o de todos los videojuegos
annual_sales = data.groupby('Platform')['Global_Sales'].sum().sort_values(ascending=False)
annual_sales

Platform
PS2     1233.46
X360     969.61
PS3      949.35
Wii      909.81
DS       818.96
PS       727.39
GBA      313.56
PSP      291.71
PS4      278.10
PC       255.05
GB       254.42
XB       252.09
NES      251.07
3DS      246.28
N64      218.21
SNES     200.05
GC       197.14
XOne     141.06
2600      86.57
WiiU      81.86
PSV       61.63
SAT       33.59
GEN       28.36
DC        15.97
SCD        1.87
NG         1.44
WS         1.42
TG16       0.16
3DO        0.10
GG         0.04
PCFX       0.03
Name: Global_Sales, dtype: float64

In [36]:
data

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Sales_Class
0,1,Wii Sports,26,2006,10,359,41.49,29.02,3.77,8.46,82.74,1
1,2,Super Mario Bros.,11,1985,4,359,29.08,3.58,6.81,0.77,40.24,1
2,3,Mario Kart Wii,26,2008,6,359,15.85,12.88,3.79,3.31,35.82,1
3,4,Wii Sports Resort,26,2009,10,359,15.75,11.01,3.28,2.96,33.00,1
4,5,Pokemon Red/Pokemon Blue,5,1996,7,359,11.27,8.89,10.22,1.00,31.37,1
...,...,...,...,...,...,...,...,...,...,...,...,...
16322,16596,Woody Woodpecker in Crazy Castle 5,6,2002,4,269,0.01,0.00,0.00,0.00,0.01,0
16323,16597,Men in Black II: Alien Escape,7,2003,8,241,0.01,0.00,0.00,0.00,0.01,0
16324,16598,SCORE International Baja 1000: The Official Game,16,2008,6,21,0.00,0.00,0.00,0.00,0.01,0
16325,16599,Know How 2,4,2010,5,8,0.00,0.01,0.00,0.00,0.01,0
16326,16600,Spirits & Spells,6,2003,4,545,0.01,0.00,0.00,0.00,0.01,0

In [34]:
# Convertimos los valores categoricos a numericos
le = LabelEncoder()
data['Platform'] = le.fit_transform(data['Platform'])
data['Genre'] = le.fit_transform(data['Genre'])
data['Publisher'] = le.fit_transform(data['Publisher'])

In [35]:
# Para la clasificaciÃ³n, crearemos un target (y)
# Clasificaremos los videojuegos como "High Sales" or "Low Sales" basado en Global_Sales
median_sales = data['Global_Sales'].median()
data['Sales_Class'] = data['Global_Sales'].apply(lambda x: 1 if x > median_sales else 0)

# Features and target
features = ['Platform', 'Year', 'Genre', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']
X = data[features]
y = data['Sales_Class']

# Dividimos los datos en entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
# Escalamos los datos
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Entrenamiento
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)

# Realizar predicciones
y_pred = knn.predict(X_test)

# Matriz de confusiÃ³n
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy del modelo KNN: {accuracy:.2f}')
report = classification_report(y_test, y_pred)

conf_matrix = confusion_matrix(y_test, y_pred)
print('Reporte de clasificaciÃ³n:')
print(report)
print('Matriz de confusiÃ³n:')
print(conf_matrix)

Accuracy del modelo KNN: 0.93
Reporte de clasificaciÃ³n:
              precision    recall  f1-score   support

           0       0.91      0.96      0.94      2473
           1       0.96      0.90      0.93      2426

    accuracy                           0.93      4899
   macro avg       0.94      0.93      0.93      4899
weighted avg       0.93      0.93      0.93      4899

Matriz de confusiÃ³n:
[[2386   87]
 [ 240 2186]]